<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        {% block title %}<title>PC Shop</title>{% endblock %}
    </head>


    <body>
    	<div class= "container">
    		<h2><img src="/image/image/Pc_Builder_logo.PNG" width="175" height="75">
            <a href="#",class="btn btn" role="button">Shopping Cart</a>
            </h2>
    		{% block content %}
			{% endblock %}
		</div>
    		
    </body>

    </html>